@import "../../../styles/main";

.containerMobile {
    position: fixed;
    z-index: 5;

    .iconContainer,
    .iconContainerOpened {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: 0.5rem;
        transition: all ease-in-out 0.3s;

    }

    .iconContainer {
        display: block;
        height: 5rem;
        width: 5rem;
        z-index: 1;

        .icon {
            height: 100%;
            width: 100%;
            filter: grayscale(20%);
        }

        &.open {
            transform: rotate(180deg);
            opacity: 0;
            z-index: 0;
        }
    }

    .iconContainerOpened {
        height: 5rem;
        width: 4rem;
        z-index: 0;
        opacity: 0;

        .iconOpened {
            height: 100%;
            width: 100%;
        }

        &.open {
            transform: rotateX(360deg);
            opacity: 1;
            z-index: 1;
        }
    }

    nav {
        margin-top: 6rem;
        width: 10rem;
        position: relative;
        font-size: $size-header;
        font-family: $font-angular;
        transform: translateX(-110%);
        transition: transform 0.2s ease-in;

        &.open {
            transform: translateX(0);
            transition: transform 0.2s ease-in;
        }

        ul {
            width: 100%;
            height: 100%;
            @include dfcc;
            padding-left: 0;
            margin: 0;
            justify-content: space-around;

            .navLink {
                list-style: none;
                padding: 0.3rem 0.5rem;
                color: white;
                width: 100%;
                text-align: center;
                border-radius: $standart-b-radius;
                border: 5px solid $asphalt;
                cursor: pointer;
                box-shadow: $main-shadow;
                text-shadow: $text-shadow;

                &.red {
                    background-color: $red;
                }

                &.orange {
                    background-color: $orange;
                }

                &.yellow {
                    background-color: $yellow;
                }

                &.green {
                    background-color: $green;
                }

                &.blue {
                    background-color: $blue;
                }
            }
        }
    }
}