@import "../../styles/main";

.card {
    background-color: $light-grey;
    width: 55%;
    @include mb ($asphalt);
    border-radius: $standart-b-radius;
    margin: 1rem 10rem 1rem 0;
    padding: 1rem;
    box-shadow: $main-shadow;
    font-family: $font-main;
    background-image: url("/comics-pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .topSection {
        display: flex;

        .pokemonImgWrap {
            width: 30%;
            @include dfcc;
            position: relative;
            margin: 0 2rem 0 0;

            .pokemonImg {
                position: absolute;
                top: 1.75rem;
                left: -40rem;
                z-index: 1;

                &.animated {
                    left: 3rem;
                    transition: left 1s ease-in-out;
                }
            }

            .movementImg {
                position: absolute;
                top: 3rem;
                left: -22rem;
                height: 9rem;
                opacity: 0;

                &.animated {
                    @include movementSlideAnimation;
                }
            }

            .circle {
                height: 16rem;
                width: 16rem;
                background-color: $white;
                border-radius: 50%;
                @include sb(black);
                box-shadow: $main-shadow;
            }
        }

        .headerWrap {
            width: 65%;

            .level {
                font-family: $font-game;
                font-size: 38pt;
                margin: 1rem 0 0 0;
                line-height: 1;
            }

            .projectTitle {
                font-family: $font-angular;
                font-size: $size-huge;
                margin: 0 0 1rem 0;
                font-weight: 600;
                background-image: url("/paper.png");
                padding: 2rem 0 0 1rem;
                ;
                width: 80%;
            }

            .usedSkills {
                background-color: $asphalt;
                @include sb (black);
                border-radius: $standart-b-radius;
                padding: 0.5rem;
                width: 90%;
                box-shadow: $main-shadow;

                .skillsList {
                    padding: 0;
                    margin: 0;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    .skillItem {
                        list-style: none;
                        font-size: $size-small-header;
                        font-family: $font-main;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        color: white;
                        text-shadow: $text-shadow;
                        margin: 0.3rem 0;
                        border-left: 1px solid white;

                        .skillIcon {
                            background-color: white;
                            padding: 0.1rem;
                            border-radius: 50%;
                            border: 2px solid black;
                            height: 2rem;
                            width: 2rem;
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .bottomSection {
        font-family: $font-main;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .description {
            grid-column: span 2;
            font-weight: 600;
            font-size: $size-header;
            background: none;
            background-color: $white;
            border: 0.5rem outset $light-grey;
            margin: 1rem;
            padding: 1rem 2rem;
            border-radius: $standart-b-radius;
            background: linear-gradient(90deg, rgb(145, 145, 145) 0%, rgb(214, 210, 210) 19%, rgb(214, 210, 210) 77%, rgb(145, 145, 145) 100%);
            outline: 0.1rem solid black;
        }
    }

    .button1 {
        position: absolute;
        top: 1rem;
        right: 7rem;
    }

    .button2 {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}