@import "../../styles/main";

.projectsSectionHeaderWrap {
    position: relative;
    color: $white;
    text-shadow: $text-shadow;
    width: 55%;
    margin: 16rem 28% 4rem auto;

    .dialogBox {
        height: 15rem;
        width: 100%;
        background-color: white;
    }

    .character {
        height: 32rem;
        position: absolute;
        bottom: -2rem;
        left: -9rem;
    }

    .headerWrap {
        background-color: black;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 3.5rem;
        width: 30%;
        @include dfc;

        .projectsHeader {
            font-family: $font-angular;
            font-size: 24pt;
            font-weight: 400;
        }
    }

    .projectsCaption {
        position: absolute;
        font-family: $font-game;
        font-size: $size-huge;
        top: 7rem;
        left: 9rem;
        padding: 0.5rem;
    }
}

@include ultra {
    .projectsSectionHeaderWrap {
        width: 40%;
        margin: 16rem 35% 4rem auto;
    }
}

@include laptop {
    .projectsSectionHeaderWrap {
        width: 65%;
        margin: 16rem 24% 4rem auto;
    }
}

@include tablet {
    .projectsSectionHeaderWrap {
        width: 75%;
        margin: 16rem 10% 4rem auto;
    }
}

@include lowTablet {
    .projectsSectionHeaderWrap {
        width: 75%;
        margin: 15rem 5% 4rem auto;

        .dialogBox {
            height: 10rem;
        }

        .headerWrap {
            height: 2.5rem;
            width: 40%;

            .projectsHeader {
                font-size: 19pt;
            }
        }

        .projectsCaption {
            font-size: $size-header;
            top: 3.5rem;
            line-height: 1.5;
        }

        .character {
            height: 28rem;
            left: -25%;
        }

    }
}

@include mobile {
    .projectsSectionHeaderWrap {
        margin: 2rem 2% 4rem auto;

        .headerWrap {
            .projectsHeader {
                font-size: $size-p;
            }
        }

        .projectsCaption {
            line-height: 1.2;
            left: 2.5rem;
            font-size: $size-small-header;
        }

        .character {
            height: 16rem;
            left: -6rem;
        }
    }
}