@import "../../styles/main";

.card {
    background-color: $white;
    max-width: 55%;
    @include mb ($asphalt);
    border-radius: $standart-b-radius;
    margin: 1rem 14rem 1rem 0;
    padding: 1rem;
    box-shadow: $main-shadow;
    font-family: $font-main;

    .container {
        @include dfc;
        height: 100%;
        width: 100%;

        .leftSection {
            height: 100%;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .name {
                font-family: $font-angular;
                font-size: $size-huge;
                margin: 0 0 0.2rem 0;
                text-align: center;
            }

            .avatar {
                height: 11rem;
                width: 11rem;
                @include sb ($asphalt);
                background-color: white;
                box-shadow: $main-shadow;
                @include wavingAnimation;
            }

            .qualities {
                background-color: white;
                @include mb (lightblue);
                outline: 0.2rem solid black;
                border-radius: $standart-b-radius;
                padding: 0.2rem 0.7rem;
                margin: 1rem 0 0 0;
                font-size: $size-p;
                width: 90%;
                box-shadow: $main-shadow;
                display: flex;
                flex-direction: column;
                align-items: center;

                .qualitiesHeader {
                    margin: 0.1rem 0 0.3rem 0;
                    font-size: $size-small-header;
                }

                .qualitiesList {
                    padding: 0;
                    margin: 0;

                    .qualitiesListItem {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.2rem;
                        text-decoration: underline;

                        .qualityIcon {
                            height: 1.5rem;
                            width: 1.5rem;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }

        .rightSection {
            position: relative;
            height: 100%;
            width: 65%;
            display: flex;
            flex-direction: column;
            margin: 0 2rem;

            .age {
                position: absolute;
                right: -2rem;
                top: 0;
                font-family: $font-game;
                font-size: $size-huge;
                padding: 0.2rem 0.3rem;
                background-color: $yellow;
                border-radius: 2rem;
                @include sb (black);

            }

            .textWrap {
                margin: 1.5rem 0;
                line-height: 1.2;

                .title {
                    display: inline;
                    margin: 0.2rem 0;
                    text-decoration: underline;
                    font-size: $size-small-header;
                    font-weight: 900;
                }

                .text {
                    font-size: $size-p;

                    strong {
                        background-color: rgb(165, 217, 165);
                    }
                }
            }

            .flag {
                position: absolute;
                height: 3rem;
                width: 3rem;
                right: -2rem;
                bottom: 0;
            }
        }
    }
}


@include ultra {
    .card {
        max-width: 50%;
        margin: 1rem 18rem 1rem 0;

        .container {
            .leftSection {

                .name {
                    font-size: calc($size-huge + 4pt);
                }

                .qualities {
                    font-size: calc($size-p + 4pt);

                    .qualitiesHeader {
                        font-size: calc($size-small-header + 4pt);
                    }
                }
            }

            .rightSection {
                .age {
                    font-size: calc($size-huge + 4pt);
                }

                .textWrap {

                    .title {
                        font-size: calc($size-small-header + 4pt);
                    }

                    .text {
                        font-size: calc($size-p + 4pt);
                    }
                }
            }
        }
    }
}

@include laptop {
    .card {
        max-width: 70%;
        margin: 1rem 16rem 1rem 0;
    }
}

@include tablet {
    .card {
        max-width: 90%;
        margin: 1rem;
    }
}