@import "../../styles/main";

.card {
    background-color: $white;
    height: 30rem;
    width: 50rem;
    border: 0.5rem solid $asphalt;
    border-radius: $standart-b-radius;
    margin: 1rem 10rem 1rem 0;
    padding: 0.5rem;
    box-shadow: $main-shadow;
    font-family: $font-main;

    .container {
        @include dfc;
        height: 100%;
        width: 100%;

        .leftSection {
            height: 100%;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-family: $font-angular;
                font-size: $size-huge;
                margin: 0 0 0.2rem 0;
            }

            .avatar {
                height: 11rem;
                width: 11rem;
                border: 0.2rem solid $asphalt;
                background-color: white;
                box-shadow: $main-shadow;
                @include wavingAnimation;
            }

            aside {
                background-color: white;
                border: 0.5rem solid lightblue;
                outline: 0.2rem solid black;
                border-radius: $standart-b-radius;
                padding: 0.2rem 0.7rem;
                margin: 1rem 0 0 0;
                font-size: $size-p;
                width: 90%;
                box-shadow: $main-shadow;

                h2 {
                    margin: 0.1rem 0 0.3rem 0;
                    font-size: $size-small-header;
                }

                .qualitiesList {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.2rem;
                        text-decoration: underline;

                        .qualityIcon {
                            height: 1.5rem;
                            width: 1.5rem;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }

        .rightSection {
            position: relative;
            height: 100%;
            width: 65%;
            display: flex;
            flex-direction: column;
            margin: 0 1rem;

            .age {
                position: absolute;
                right: 0;
                top: 0;
                font-family: $font-game;
                font-size: $size-huge;
                padding: 0.2rem 0.3rem;
                background-color: $yellow;
                border-radius: 2rem;
                border: 0.2rem solid black;
            }

            .textWrap {
                margin: 1.5rem 0 0 0;

                .title {
                    display: inline;
                    margin: 0.2rem 0;
                    text-decoration: underline;
                    font-size: $size-small-header;
                    font-weight: 900;
                }

                .text {
                    font-size: $size-p;

                    strong {
                        background-color: rgb(165, 217, 165);
                    }
                }
            }

            .flag {
                height: 3rem;
                width: 3rem;
                margin-left: auto;
            }
        }
    }
}