@import "../../../styles/main";

.container {
    @include dfcc;
    width: 100%;
    padding: 1rem;
    margin: 0;

    .img {
        height: 12rem;
        width: 12rem;
        background-image: url('/lightbulb-off.png');
        background-size: contain;

        &.isIntersecting {
            background-image: url('/lightbulb-on.png');
        }
    }

    &:hover {
        .img {
            background-image: url('/lightbulb-on.png');
        }
    }

    .pikachu {
        width: 8rem;
        margin: 1rem 0;
    }

    .caption {
        font-size: $size-header;
        font-family: $font-main;
        @include dfcc;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        height: 7rem;
        text-align: center;
        line-height: 1.2;

        .iconWrap {
            position: relative;
            top: 0.25rem;

            .icon {
                margin-right: 0.5rem;
            }
        }

        .link {
            font-weight: 600;
            text-decoration: underline;

            &:hover {
                color: $orange;
            }
        }

        .text {
            word-break: break-all;
        }
    }
}

@include tablet {
    .container {
        .img {
            height: 9rem;
            width: 9rem;
        }

        .pikachu {
            width: 6rem;
        }

        .caption {
            font-size: $size-header;
        }

    }
}

@include lowTablet {
    .container {
        .img {
            height: 12rem;
            width: 12rem;
        }

        .pikachu {
            width: 10rem;
        }

        .caption {
            font-size: 24pt;
            height: auto;
        }

        &:hover {
            pointer-events: none;
        }
    }
}