@font-face {
    font-family: 'Tektur';
    src:
        url('../../public/fonts/Tektur/Tektur Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Roboto Mono';
    src:
        url('../../public/fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Onest Regular';
    src:
        url('../../public/fonts/Onest/Onest-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Codename Coder Free 4F';
    src: local('Codename Coder Free 4F Bold'), local('CodenameCoderFree4F-Bold'),
        url('../../public/fonts/Codename Coder Free 4F/CodenameCoderFree4F-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Codename Coder Free 4F/CodenameCoderFree4F-Bold.woff2') format('woff2'),
        url('../../public/fonts/Codename Coder Free 4F/CodenameCoderFree4F-Bold.woff') format('woff'),
        url('../../public/fonts/Codename Coder Free 4F/CodenameCoderFree4F-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Starseed Pro';
    src: url('../../public/fonts/Starseed Pro/StarseedPro-Regular.eot');
    src: local('../../public/fonts/Starseed Pro/StarseedPro-Regular'),
        url('../../public/fonts/Starseed Pro/StarseedPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Starseed Pro/StarseedPro-Regular.woff2') format('woff2'),
        url('../../public/fonts/Starseed Pro/StarseedPro-Regular.woff') format('woff'),
        url('../../public/fonts/Starseed Pro/StarseedPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//fonts
$font-big-pixel: 'Starseed Pro';
$font-angular: 'Tektur';
$font-game: 'Codename Coder Free 4F';
$font-code: 'Roboto Mono';
$font-main: 'Onest Regular';


//font sizes
$size-huge: 26pt;
$size-header: 18pt;
$size-small-header: 16pt;
$size-p: 14pt;

//text-shadow
$text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;