@import "./rising-animation";

@mixin dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin mb ($color) {
    border: 0.5rem solid $color;
}

@mixin sb ($color) {
    border: 0.2rem solid $color;
}



@mixin hover($borderSize, $borderColor) {
    transition: all ease-in 0.2s;

    &:hover {
        filter: brightness(120%);
        transform: scale(110%);
        border: $borderSize solid $borderColor;

    }


}

@mixin hangingAnimation {
    animation: hanging 1.3s infinite alternate cubic-bezier(0.11, 0, 0.5, 0);


    @keyframes hanging {
        0% {
            transform: translateY(0.2rem);

        }

        25% {
            transform: translateY(0rem);
        }

        50% {
            transform: translateY(0.2rem);
        }

        100% {
            transform: translateY(0rem);
        }

        ;
    }
}

@mixin shadowForHangingAnimation {
    animation: shadowForHanging 1.3s infinite alternate cubic-bezier(0.11, 0, 0.5, 0);


    @keyframes shadowForHanging {
        0% {
            height: 1.5rem;
            width: 15rem;

        }

        25% {
            height: 1rem;
            width: 14rem;
        }

        50% {
            height: 1.5rem;
            width: 15rem;
        }

        100% {
            height: 1rem;
            width: 14rem;
        }

        ;
    }
}

@mixin wavingAnimation {
    animation: waving 2.5s infinite alternate cubic-bezier(0.11, 0, 0.5, 0);


    @keyframes waving {
        0% {
            transform: rotate(4deg);
        }

        100% {
            transform: rotate(-4deg);
        }
    }
}

@mixin highlightingAnimation {
    animation: highlighting 1s ease-in-out;



    @keyframes highlighting {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}



@mixin totterAnimation {
    animation: totter 1s linear;



    @keyframes totter {
        0% {
            transform: rotateZ(-1deg);

        }

        50% {
            transform: rotateZ(1deg);
        }

        100% {
            transform: rotateZ();
        }
    }

}

@mixin movementSlideAnimation {
    animation: movementSlide 0.5s linear;
    animation-delay: 0.5s;



    @keyframes movementSlide {
        0% {
            opacity: 0;

        }

        50% {
            opacity: 1;

        }

        100% {
            opacity: 0;
        }
    }
}