@mixin dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin hover {
    transition: box-shadow ease-in 0.2s, filter ease-in 0.2s, border-color ease-in 0.2s;
    // transition: all ease-in 0.2s;

    &:hover {
        box-shadow: $hover-shadow;
        filter: brightness(120%);
        border-color: rgb(195, 193, 193);
        transition: all ease-in 0.2s;
    }
}