//colors
$red: #E3350D;
$orange: #EE6B2F;
$yellow: #E6BC2F;
$green: #4DAD5B;
$blue: #30A7D7;
$grey: #919191;
$asphalt: #59585e;
$hover-white: rgb(225, 225, 225);

//border
$standart-b-radius: 0.5rem;

//shadows
$hover-shadow: rgba(255, 255, 255, 0.676) 0px 22px 70px 4px;
;
;