@import "../../styles/main";

.containerFull {
    position: fixed;
    right: 6rem;
    top: 16rem;
    width: 20%;
    z-index: 3;

    .tv {
        height: 100%;
        width: 100%;
    }

    .screenshot {
        position: absolute;
        top: 46%;
        left: 8%;
        width: 60%;
        height: 45%;
        z-index: 2;
        margin-left: 10%;
    }

    .background {
        background-color: $asphalt;
        position: absolute;
        top: 45%;
        left: 8%;
        width: 84%;
        height: 47%;
        z-index: 1;
    }
}


@include ultra {
    .containerFull {
        right: 19rem;
        width: 16%;
    }
}

@include laptop {
    .containerFull {
        top: 14rem;
        right: 1rem;
        width: 21%;
    }
}

@include tablet {
    .containerFull {
        display: none;
    }
}