@import "../../styles/main";

.container {
    position: fixed;
    @include dfc;
    width: 100%;
    height: 3rem;
    padding-top: 0;
    font-size: $size-header;
    font-family: $font-angular;
    line-height: 1;

    nav {
        background-color: grey;
        width: 70%;
        height: 100%;
        @include dfc;
        padding: 0 68px;

        &:before {
            left: 15%;
            background: url(/notch-white-xxl-left.png) no-repeat 0 0;
        }

        &:after {
            right: 15%;
            background: transparent url(/notch-white-xxl-right.png) no-repeat 0 0;
        }

        &:before,
        &:after {
            bottom: 0;
            content: " ";
            position: absolute;
            height: 50px;
            width: 68px;
        }

        ul {
            width: 100%;
            height: 100%;
            @include dfc;
            padding-left: 0;
            margin: 0;
            justify-content: space-around;

            li {
                list-style: none;
                padding: 0.3rem 0.5rem;
                color: white;
                // height: 100%;
                border-radius: $standart-b-radius;
                border: 5px solid $asphalt;
                transition: all ease-in 0.2s;

                &:hover {
                    box-shadow: $hover-shadow;
                    border: 5px solid rgb(225, 225, 225);
                }

                &.red {
                    background-color: $red;
                }

                &.orange {
                    background-color: $orange;
                }

                &.yellow {
                    background-color: $yellow;
                }

                &.green {
                    background-color: $green;
                }

                &.blue {
                    background-color: $blue;
                }
            }
        }

    }
}

@include laptop {
    .container {
        //         position: fixed;
        //         @include dfc;
        //         width: 100%;
        //         height: 3rem;
        //         padding-top: 0;
        //         font-size: $size-header;
        //         font-family: $font-angular;

        //         // font-weight: 600;
        //         line-height: 1;

        nav {
            //             background-color: grey;
            width: 100%;
            //             height: 100%;
            //             @include dfc;
            //             padding: 0 68px;

            &:before {
                left: 0;
                //                 background: url(/notch-white-xxl-left.png) no-repeat 0 0;
            }

            &:after {
                right: 0;
                //                 background: transparent url(/notch-white-xxl-right.png) no-repeat 0 0;
            }

        }

    }
}