@import "../../styles/main";

.container {
    position: fixed;
    @include dfc;
    width: 100%;
    height: 3rem;
    padding-top: 0;
    font-size: $size-header;
    font-family: $font-angular;
    line-height: 1;
    font-weight: 600;

    nav {
        background-color: grey;
        width: 80%;
        height: 100%;
        @include dfc;
        padding: 0 68px;

        &:before {
            left: 10%;
            background: url(/notch-white-xxl-left.png) no-repeat 0 0;
        }

        &:after {
            right: 9.9%;
            top: 0.1%;
            background: transparent url(/notch-white-xxl-right.png) no-repeat 0 0;
        }

        &:before,
        &:after {
            bottom: 0;
            content: " ";
            position: absolute;
            height: 50px;
            width: 68px;
        }

        ul {
            width: 100%;
            height: 100%;
            @include dfc;
            padding-left: 0;
            margin: 0;
            justify-content: space-evenly;

            li {
                list-style: none;
                padding: 0.3rem 0.5rem;
                color: white;
                width: 9.2rem;
                text-align: center;
                border-radius: $standart-b-radius;
                border: 5px ridge $asphalt;
                cursor: pointer;

                &:hover {
                    @include hover;
                }

                &.red {
                    background-color: $red;
                }

                &.orange {
                    background-color: $orange;
                }

                &.yellow {
                    background-color: $yellow;
                }

                &.green {
                    background-color: $green;
                }

                &.blue {
                    background-color: $blue;
                }
            }
        }

    }
}

@include desktop {
    .container {
        nav {
            width: 100%;

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }
    }
}



.containerMobile {
    position: fixed;

    .iconContainer,
    .iconContainerOpened {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: 0.5rem;
        transition: all ease-in-out 0.3s;

    }

    .iconContainer {
        display: block;
        height: 4rem;
        width: 4rem;
        z-index: 1;

        .icon {
            height: 100%;
            width: 100%;
            filter: grayscale(20%);
        }

        &.open {
            transform: rotate(180deg);
            opacity: 0;
            z-index: 0;
        }
    }

    .iconContainerOpened {
        height: 5rem;
        width: 4rem;
        z-index: 0;
        opacity: 0;

        .iconOpened {
            height: 100%;
            width: 100%;
        }

        &.open {
            transform: rotateX(360deg);
            opacity: 1;
            z-index: 1;
        }
    }

    nav {
        margin-top: 6rem;
        width: 10rem;
        position: relative;
        font-size: $size-header;
        font-family: $font-angular;
        transform: translateX(-110%);
        transition: transform 0.2s ease-in;

        &.open {
            transform: translateX(0);
            transition: transform 0.2s ease-in;
        }

        ul {
            width: 100%;
            height: 100%;
            @include dfcc;
            padding-left: 0;
            margin: 0;
            justify-content: space-around;

            li {
                list-style: none;
                padding: 0.3rem 0.5rem;
                color: white;
                width: 100%;
                text-align: center;
                border-radius: $standart-b-radius;
                border: 5px ridge $asphalt;
                cursor: pointer;

                &.red {
                    background-color: $red;
                }

                &.orange {
                    background-color: $orange;
                }

                &.yellow {
                    background-color: $yellow;
                }

                &.green {
                    background-color: $green;
                }

                &.blue {
                    background-color: $blue;
                }
            }
        }
    }
}