@import "../../../styles/main";

.langSwitchContainer {
    list-style: none;
    @include dfc;
    margin-bottom: 0.8rem;
    position: relative;

    .currentLang {
        position: relative;

        .bubble {
            height: 3.5rem;
        }

        .flag {
            position: absolute;
            height: 1.25rem;
            bottom: 1.45rem;
            left: 1.15rem;
        }
    }

    .langDropdown {
        position: absolute;
        @include dfcc;
        top: 3rem;
        padding: 0rem;
        background-color: $white;
        border-radius: $standart-b-radius;
        box-shadow: $main-shadow;
        width: 70%;
        height: 0;
        transition: all 0.3s ease-in-out;
        overflow: hidden;

        .flag {
            height: 100%;
            width: 100%;
            padding: 0.2rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(120%);
            }
        }

        &.open {
            height: 100%;
            padding: 0.2rem;
        }
    }
}