@import "../../../styles/main";

.langSwitchContainer {
    list-style: none;
    @include dfc;
    margin-bottom: 0.8rem;
    position: relative;
    cursor: pointer;

    .currentLang {
        position: relative;

        &:hover {
            filter: brightness(110%);
        }

        .mobile {
            height: 3rem;
        }

        .flag {
            position: absolute;
            height: 1.9rem;
            width: 2.7rem;
            bottom: 0.9rem;
            left: 1rem;
        }
    }

    .langDropdown {
        position: absolute;
        @include dfcc;
        top: 3.3rem;
        padding: 0rem;
        background-color: $grey;
        border-radius: $standart-b-radius;
        width: 90%;
        height: 0;
        transition: height 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        background-image: none;
        box-shadow: $main-shadow;

        .flag {
            padding: 0.6rem;

            &:hover {
                filter: brightness(110%);
            }
        }

        &.open {
            height: 8rem;
            padding: 0.5rem;
        }
    }
}