@import "../../styles/main";

.container {
    min-height: 5rem;
    background-color: $grey;
    width: 100%;
    margin: 0 auto;

    .notch {
        background-color: white;
        width: 80%;
        height: 1rem;
        margin: 0 auto;
        position: relative;

        &:before,
        &:after {
            top: -0.1rem;
            content: " ";
            position: absolute;
            width: 0;
            height: 0;
            border-radius: $standart-b-radius;
            border-bottom: 1.5rem solid $grey;
        }

        &:before {
            left: -0.1rem;
            border-right: 1.5rem solid transparent;
        }

        &:after {
            right: -0.1rem;
            border-left: 1.5rem solid transparent;
        }
    }

    .link {
        font-size: $size-header;
        font-family: $font-code;
        line-height: 1;
        text-align: center;
        font-weight: 600;
        display: block;
        padding: 1rem 1rem 0.5rem 1rem;
        @include dfc;
        text-decoration: underline;

        &:hover {
            color: rgb(2, 211, 248);
        }

        .icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }

    .textWrap {
        width: 100%;
        margin-top: 0.7rem;

        .quote {
            font-size: $size-small-header;
            font-family: $font-code;
            line-height: 1;
            background-color: $asphalt;
            font-weight: 600;
            color: white;
            padding: 1.5rem;
            border-radius: $standart-b-radius;
            box-shadow: $main-shadow;
            cursor: pointer;
            text-align: center;
        }
    }
}

@include lowTablet {
    .container {
        .link {
            .icon {
                display: none;
            }
        }

        .textWrap {
            .quote {
                font-size: calc($size-small-header - 2pt);
                padding: 1rem;
            }
        }
    }
}