@import "../../styles/main";

.card {
    background-color: $asphalt;
    width: 50%;
    border-radius: $standart-b-radius;
    margin: 1rem 18rem 1rem 0;
    padding: 1rem;
    box-shadow: $main-shadow;
    font-family: $font-main;
    position: relative;

    .headerSkills {
        color: white;
        font-size: $size-huge;
        font-family: $font-angular;
        margin: 0 0 0 2rem;
    }

    .skillsWrap {
        display: grid;
        padding: 2rem;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(8rem, 1fr));
        position: relative;
        height: 85%;
        overflow: hidden;


        .skillsBlock {
            padding: 0;
            margin: 0;
            display: grid;
            grid-gap: 1rem;
            position: relative;
            z-index: 3;
            overflow: hidden;

            &.skillsBlockWhite {
                position: absolute;
                top: 2rem;
                left: 2rem;
                width: 30%;
                z-index: 1;
            }

            &.skillsBlockColored {
                position: absolute;
                top: 2rem;
                left: 2rem;
                width: 30%;
                transform: translateY(10.5rem);
                z-index: 2;
                @include risingAnimation;
            }

            &.skillsBlockMain {
                background-color: transparent;

            }


            li {
                list-style: none;
                height: 2.5rem;
                margin: 0;
                border-radius: $standart-b-radius;
                font-size: $size-p;
                overflow: hidden;
            }

            .whiteSkillsItem {

                background-color: white;
                // z-index: 1;

            }

            .coloredSkillsItem {

                background-color: $blue;
                // z-index: 2;


            }

            .mainSkillsItem {
                background-color: transparent;
                // z-index: 3;
            }

            .category {
                background-color: $asphalt;
                color: white;
                text-align: center;
                font-family: $font-big-pixel;
                font-size: $size-header;
            }

        }

        // .filler1,
        // .filler2,
        // .filler3 {
        //     height: 50%;
        //     width: 50%;
        //     position: absolute;
        //     z-index: 0;

        // }

        .filler1 {
            background-color: red;
        }

        .filler2 {
            background-color: blue;
        }

        .filler3 {
            background-color: green;
        }
    }

    .familiarWith {
        .headerFamiliarWith {
            margin: 0;
        }
    }
}