@import "../main";

.container {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/forms-pattern.png");
    background-repeat: repeat;
    position: relative;

    .jobTitle {
        position: relative;
        font-size: 28pt;
        font-weight: 100;
        padding: 0 1.7rem 0.3rem 1.7rem;
        margin: 5rem 10% 0rem 0;
        text-align: center;
        outline: 1rem solid $asphalt;
        background: radial-gradient(rgb(246, 244, 245) 0%, rgb(168, 164, 164) 100%);
        border: 0.3rem solid $white;
        font-family: $font-big-pixel;
        @include hangingAnimation;

        &::before {
            position: absolute;
            content: '';
            bottom: -3.5rem;
            left: 28%;
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.446) 0%, rgba(0, 0, 0, 0) 80%);
            @include shadowForHangingAnimation;
        }
    }

    .mainContentWrapper {
        width: 55%;
        margin: 0rem 10rem 0rem 0;
    }
}

@include ultra {
    .container {
        .mainContentWrapper {
            width: 50%;
            margin: 0rem 18rem 0rem 0;
        }
    }
}

@include laptop {
    .container {
        .mainContentWrapper {
            width: 70%;
            margin: 0rem 12rem 0rem 0;
        }
    }
}

@include tablet {
    .container {
        padding-top: 1rem;

        .jobTitle {
            max-width: 75%;
            margin: 3rem 0 4rem 0;

            &::before {
                min-width: 70%;
                left: 15%;
            }
        }

        .mainContentWrapper {
            width: 90%;
            margin: 0 1rem;
        }
    }
}

@include lowTablet {
    .container {
        .jobTitle {
            &::before {
                min-width: 100%;
                left: 0%;
            }
        }
    }
}