@import "../../../styles/main";

.buttonContainer {
    height: 2rem;
    width: 5rem;
    font-size: $size-small-header;
    font-family: $font-main;
    box-shadow: $main-shadow;
    @include sb(black);
    border-radius: $standart-b-radius;
    font-weight: 600;
    cursor: pointer;
    text-shadow: $text-shadow;
    @include hover(0.2rem, black);

    @include allColorsBackground;

    a {
        text-decoration: none;
        color: white;


    }
}